.home-page {
  padding: 50px 0 80px;
  @media screen and (max-width: 500px) {
    padding: 15px 0 50px;
  }
  @media screen and (max-width: 1024px) {
    padding: 40px 0 50px;
  }
}

.quick-buy-sell {
  padding: 0px 80px;
  @media screen and (max-width: 1024px) {
    padding: 0 24px;
  }

  &__ads {
    @media screen and (max-width: 500px) {
      text-align: center;
    }
  }

  &__ads:not(:last-child) {
    margin-bottom: 50px;
  }

  &__heading {
    font-size: 30px;
    @media screen and (max-width: 500px) {
      text-align: center;
      font-size: 26px;
    }
  }
}
