body {
  font-family: -apple-system, 'Helvetica Neue', Avenir, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

p {
  line-height: 24px;
}
