.auth-box {
  margin: 0 auto;
  display: flex;
  width: 692px;
  border-radius: 6px;
  background-color: @component-background;
  box-shadow: @box-shadow-base;
  overflow: hidden;

  &__aside {
    padding-top: 27px;
    text-align: center;
    background-color: @primary-color;
    width: 196px;
    position: relative;
    min-height: 586px;
  }
  &__main {
    padding: 72px 64px 30px 64px;
    width: 496px;
  }
  &__header {
    text-align: center;
    margin-bottom: 16px;
  }

  &__bubble {
    position: absolute;
    width: 272px;
    height: 272px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    left: 34px;
    top: 38px;
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: inherit;
      top: 292px;
      left: -11px;
    }
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 157px;
      height: 157px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: inherit;
      top: 313px;
      left: -5px;
    }
  }
}
