.ant-table-wrapper {
  @media screen and (max-width: 700px) {
    zoom: 0.8;
  }
  @media screen and (max-width: 500px) {
    zoom: 0.5;
  }
  @media screen and (max-width: 380px) {
    zoom: 0.3;
  }
}
@media screen and (max-width: 380px) {
  .ant-table-column-title {
    font-size: 10px;
  }
}
.ant-table-expand-icon-th,
.ant-table-row-expand-icon-cell {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 10px 14px;
}
